    log4perl.logger = INFO, AppInfo, AppError

    # Filter to match level ERROR
    log4perl.filter.MatchError = Log::Log4perl::Filter::LevelMatch
    log4perl.filter.MatchError.LevelToMatch  = ERROR
    log4perl.filter.MatchError.AcceptOnMatch = true

    # Filter to match level INFO
    log4perl.filter.MatchInfo  = Log::Log4perl::Filter::LevelMatch
    log4perl.filter.MatchInfo.LevelToMatch  = ERROR
    log4perl.filter.MatchInfo.AcceptOnMatch = false

    # Error appender
    log4perl.appender.AppError = Log::Log4perl::Appender::Screen
    log4perl.appender.AppError.stderr   = 1
    log4perl.appender.AppError.Filter   = MatchError
    log4perl.appender.AppError.layout = PatternLayout
    log4perl.appender.AppError.layout.ConversionPattern = %5p (%6P) [%rms] %m{chomp}\n

    # Info appender
    log4perl.appender.AppInfo = Log::Log4perl::Appender::Screen
    log4perl.appender.AppInfo.stderr   = 0
    log4perl.appender.AppInfo.Filter   = MatchInfo
    log4perl.appender.AppInfo.layout = PatternLayout
    log4perl.appender.AppInfo.layout.ConversionPattern = %5p (%6P) [%rms] %m{chomp}\n