    log4perl.logger = INFO, AppInfo, AppError

    # Filter to match level ERROR
    log4perl.filter.MatchError = Log::Log4perl::Filter::LevelMatch
    log4perl.filter.MatchError.LevelToMatch  = ERROR
    log4perl.filter.MatchError.AcceptOnMatch = true
    # Filter to match level FATAL
    log4perl.filter.MatchDie = Log::Log4perl::Filter::LevelMatch
    log4perl.filter.MatchDie.LevelToMatch  = FATAL
    log4perl.filter.MatchDie.AcceptOnMatch = true
    # both together now
    log4perl.filter.BoolErrors       = Log::Log4perl::Filter::Boolean
    log4perl.filter.BoolErrors.logic = MatchDie || MatchError

    # Filter to match level INFO
    log4perl.filter.MatchInfoNoErr  = Log::Log4perl::Filter::LevelMatch
    log4perl.filter.MatchInfoNoErr.LevelToMatch  = ERROR
    log4perl.filter.MatchInfoNoErr.AcceptOnMatch = false
    log4perl.filter.MatchInfoNoDie  = Log::Log4perl::Filter::LevelMatch
    log4perl.filter.MatchInfoNoDie.LevelToMatch  = FATAL
    log4perl.filter.MatchInfoNoDie.AcceptOnMatch = false
    # both together now
    log4perl.filter.BoolInfo       = Log::Log4perl::Filter::Boolean
    log4perl.filter.BoolInfo.logic = MatchInfoNoErr && MatchInfoNoDie

    # Error appender
    log4perl.appender.AppError = Log::Log4perl::Appender::Screen
    log4perl.appender.AppError.stderr   = 1
    log4perl.appender.AppError.Filter   = BoolErrors
    log4perl.appender.AppError.layout = PatternLayout
    log4perl.appender.AppError.layout.ConversionPattern = %5p (%6P) [%rms] %m{chomp}\n

    # Info appender
    log4perl.appender.AppInfo = Log::Log4perl::Appender::Screen
    log4perl.appender.AppInfo.stderr   = 0
    log4perl.appender.AppInfo.Filter   = BoolInfo
    log4perl.appender.AppInfo.layout = PatternLayout
    log4perl.appender.AppInfo.layout.ConversionPattern = %5p (%6P) [%rms] %m{chomp}\n